/* 全屏页面的实现 */
html,body {
    width: 100%;
    height: 100%;
}

.ct_layout {
    width: 100%;
    height: 100%;
}
/*头部搜索块样式*/
.ct_header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    position: absolute;
}
/*精灵图*/
.ct_back,
.ct_menu {
    width: 49px;
    height: 49px;
    top: 0;
    position: absolute;
    background: url("../images/sprites.png");
    background-size: 200px 200px;
    padding: 14px;
    /* 把背景图片相对content来定位*/
    background-origin: content-box;
    /* 设置背景被裁切到内容区，控制显示，这样就不会显示旁边别的在padding部分的图标 */
    background-clip: content-box;
}
.ct_back {
    left: 0;
    background-position: -20px 0px;

}
.ct_menu {
    right: 0;
    background-position: -60px 0px;
}
.ct_search {
    width: 100%;  /*左右两个图标的定位已经是absolute了*/
    height: 100%;
    padding: 0 60px;
}
.ct_search > input {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: #666;
    padding-left: 5px;
}

/*主体内容块样式*/
.ct_content {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.ct_cLeft {
    width: 100px;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.ct_cLeft > ul{
    width: 100%;
    position: absolute;  /*为了后面JS滑动，添加的定位（此处和上级），top, left*/
    top: 0;
    left: 0;
}
.ct_cLeft li {
    height: 50px;
    width: 100%;
}
.ct_cLeft li a {
    height: 100%;
    width: 100%;
    display: block; /*必须设置block，不然宽高不生效*/
    background-color: #eee;
    color: #333;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.ct_cLeft li.active a{
    background-color: #fff;
    color: #e92322;
    border-bottom: none;
    border-right: none;
}
.ct_cRight {
    height: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.ct_rImg {
    width: 100%;
    display: block;
}
.ct_rImg > img {
    width: 100%;
    display: block;  /*去除图片基线*/
}
.ct_cRight > h3 {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}
.ct_hotCategory {
    width: 100%;
    overflow: hidden;
    flex: 1;
    position: relative;  /*让滚动条相对于父元素定位，给父元素一个定位，不能给到ul哈*/
}
.ct_hotCategory ul{
    overflow: hidden; /*为了让ul有高度，这样才能滑动*/
}
.ct_hotCategory li {
    width: 33.33%;
    float: left;
    text-align: center;
}