.jd_layout{
    width: 100%;
    /*最大宽度一般是640，再宽就不变宽了*/
    max-width: 640px;
    /*最小宽度一般是320，再窄就出现滚动条*/
    min-width: 320px;
    margin:0 auto;
    background-color: #eee;
}
/*顶部搜索块*/
.jd_search{
    width: 100%;
    /* 因为定位fixed是相对于窗口的，宽度会无限随拉伸变宽，所以要设置max-width等于布局 */
    max-width: 640px;
    /*固定在顶部*/
    position: fixed;
    height: 40px;
    background: #e92322;
    /* 防止轮播图覆盖头部  */
    z-index: 999;
}
.jd_logo {
    width: 56px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
    background: url("../images/jd-sprites.png") no-repeat;
    /* 原背景是400*400，太大了，不能设置50%，是相对于父容器的百分比 */
    background-size: 200px 200px;
    background-position: 0px -108px;
}
.jd_login {
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
}
.jd_searchBox {
    width: 100%;
    height: 100%;
    padding-left: 76px;
    padding-right: 50px;
}
.jd_searchBox > input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 15px;
    padding-left: 30px;
    color: #666;
}
/*使用伪元素添加放大镜*/
.jd_searchBox::before {
    content: "";
    width: 27px;
    height: 23px;
    position: absolute;
    background: url("../images/jd-sprites.png");
    background-size: 200px 200px;
    background-position: -56px -108px;
    left: 80px;
    top: 9px;
}

/* 轮播图样式 */
.jd_banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.jd_bannerImg {
    width: 800%;
}
.jd_bannerImg > li {
    width: 12.5%;
    float: left;
}
.jd_bannerImg > li img {
     /* 清除图片下面的文本基线
     1.设置为块元素 
    2.可以将文本的字体大小设置为0
    3.vertical-align:bottom*/
    display: block;
    width: 100%;
}
.jd_bannerIndicator {
    /* 6*8 + 10*8 = 128 */
    width: 128px; 
    height: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}
.jd_bannerIndicator > li {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    float: left;
    margin-left: 10px;
}
    /* 第一个圆点左侧清除，为了完全对齐 */
.jd_bannerIndicator > li:first-of-type {
    margin-left: 0;
}
.jd_bannerIndicator > li.active {
    background-color: #fff;
}

/* 导航块制作 */
.jd_nav {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
}
.jd_nav li {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 5px;
}
.jd_nav li img {
    width: 50px;
}
.jd_nav li p {
    line-height: 25px;
}

/* 产品块制作 */
.jd_product {
    width: 100%;
}
.jd_productBox {
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
     /*添加边框阴影,使得每块中间的灰色小条柔和一些*/
    box-shadow: 1px 1px 1px #ccc;
}
.jd_productBox > .jd_pTip {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    color: #666;
}
.jd_productBox > .jd_pTip > h3 {
    padding-left: 30px;
    position: relative;
}
.jd_productBox > .jd_pTip > h3::before {
    content: "";
    width: 3px;
    height: 12px;
    background-color: #e92322;
    position: absolute;
    left: 24px;
    top: 9px;
}

/* 产品块图片固定样式 */
.a_50 {
    display: block;
    width: 50%;
}
.a_50 img {
    /* 清除文本基线 */
    display: block;
    width: 100%;
}
.b_left{
    border-left: 1px solid #ccc;
}
.b_bottom{
    border-bottom: 1px solid #ccc;
}
.b_right{
    border-right:1px solid #ccc;
}

/* 秒杀块样式 标记jd_sk来区分别的块 */
.jd_sk > .jd_pTip {
    border-bottom: none;
}
.jd_sk > .jd_pTip .jd_sk_icon {
    width: 16px;
    height: 20px;
    background: url("../images/seckill-icon.png");
    background-size: 16px 20px;
    margin-top: 3px;
}
.jd_sk > .jd_pTip .jd_sk_text {
    color: #e92322;
}
.jd_sk > .jd_pTip .jd_sk_time > span {
    color: #fff;
    background-color: #000;  
    width: 13px;
    height: 18px;
    display: inline-block; 
    line-height: 18px;
    text-align: center; 
}
.jd_sk > .jd_pTip .jd_sk_time > span:nth-of-type(3n) {
    color: #000;
    background-color: transparent;
    width: 8px;
}
.jd_sk > .jd_pContent {
    padding: 20px;
}
.jd_sk > .jd_pContent >ul {
    width: 100%;
}
.jd_sk > .jd_pContent > ul > li {
    width: 33.33%;
    float: left;
    text-align: center;
}
.jd_sk > .jd_pContent > ul > li img {
    width: 60%;
    display: inline-block; /*既清除基线，又能让文字居中*/
}