/* 设置最小到宽高，防止缩放到很小时变形；这样即使缩放，也不会变化，只是会显示部分 */
html, body, .section {
    min-height: 600px;
    min-width: 1000px;
}

/* 直接进入购物中心 */
.direct-go{
    position: fixed;  /*相对于windows固定定位*/
    right: 5%;
    top: 5%;
    z-index: 999;  /*别的页面有设置z-index，这个必须在最前面*/
}

/* 1.以下都是固底不固头的原则
    2.fullpage插件总体已有relative定位，所以每个组件可以直接写absolute定位
 */
/* 第一屏 start */
.section1 {
	background: #fadd67 url(../images/t1fpyqfltdxxaiulhh-990-600.png) no-repeat center bottom;
}
.fly {
    position: absolute; /*fullpage里面对每个section设置了relative定位*/
    right: 20%;
    top: 10%;
}
.shirt01{
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 335px;
}
.goods{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    bottom: 150px;
}
/* 第一屏 end */

/*  第二屏 start */
.section2 {
	background: #84a2d4 url(../images/t1zdgpfi8exxca6rfn-2000-600.png) no-repeat center bottom;
    z-index: 2; /*为了让沙发掉到第三屏时能显示出来，不然都是默认的0；注意直接改shirt-02的index不行；是section之间的？？？ */
}
.computer {
    width: 990px;
    height: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    /* background-color: rgba(0,0,0,.3); */
}
.search{
    background: url("../images/search.png") no-repeat;
    position: absolute;
    width: 222px;
    height: 45px;
    right: -30px;
    bottom: 300px;
    display: none;  /*先隐藏*/
}
.search-words {
    position: absolute;
    right: 32px;
    top: 5px;
    opacity: 0; /*不用display:none，因为后面要做淡入淡出的效果 */
}
.search02 {
    position: absolute;
    width: 222px;
    height: 45px;
    bottom: 300px;
    right: 370px;
    display: none; /*不用淡入淡出，先隐藏，后面直接出来替换“框+字”*/
}
.goods-02{
    position: absolute;
    height: 100px;
    bottom: 217px;
    right: 270px;
    display: none;
}
.shirt-02{
    position: absolute;
    bottom: 348px;
    left: 395px;
    width: 100px;
    display: none;
    z-index: 10; /*防止层级不够，被cover挡住瞬间，然后再往下掉不好看*/
}
.cover {
    position: absolute;
    bottom: 334px;
    right: 495px;
    width: 101px;
    height: 90px;
    background-color: #fff;
    display: none;
}
.words-01,
.words-02 {
    position: absolute;
    left:50%;
    transform: translateX(-50%);/*搭配上面一条，水平居中*/
    bottom: 550px;
}
.words-02 {
    opacity: 0;
}
/*  第二屏 end */

/* 第三屏 start */
.section3 {
    background:#ef674d;
    z-index: 1;  /*这里没设置的话，掉到第四屏（默认0）到沙发就没法显示出来;但是还要注意比section2的数字小，不然2掉下来的没法显示*/
}
.main {
    position: absolute;
    width: 700px;
    height: 500px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../images/main.png") no-repeat center center;
}
.select {
    position: absolute;
    width: 300px;
    height: 250px;
    bottom: 0;
    right: 8px;
} 
.img-01{
    position: absolute;
    top: 0;
}
.img-01-a {
    opacity: 0;
}
.btn-01{
    position: absolute;
    bottom: 10px;
}
.btn-01-a {
    opacity: 0;
}
/* 沙发 */
.shirt-03,
.t1f {
    position: absolute;
    left: 115px;
    bottom: 200px;
    display: none;
}
/* 第三屏 end */

/* 第四屏 start */
.section4 {
    background: #fed url(../images/t1iresfnxaxxca6rfn-2000-600.png) no-repeat center bottom;
}
.cloud {
    position: absolute;
    bottom: 550px;
    left: 50%;  /*后面设置动画从50%到-10%转一大圈*/
}
.words-04 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 500px;
}
.words-04-a {
    opacity: 0;  /*先隐藏掉这一行字*/
}
.car {
    position: absolute;
    width: 500px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50; /*沙发掉进车里效果*/
}
/*车里沙发*/
.car-img {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1; /*隐藏掉沙发在车里的部分*/
    display: none; /*先隐藏*/
}
.note {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 180px;
    opacity: 0;
}
.note-img {
    position: absolute;
    top: 60px;
    left: 60px;
    opacity: 0;
}
/* 第四屏 end */

/* 第五屏 start  */
.section5 {
    background: #d04759 url(../images/t1yisqfa4exxa3gmkg-2000-1500.png);
    /* overflow: hidden; 隐藏掉第四屏要往下掉的沙发和上面的鼠标线，不能这样直接做，不然影响第六屏 */
    perspective: 500; /*透视效果，看起来和屏幕远了*/
    -webkit-perspective: 500; /*chrome浏览器*/
    z-index: 1;
}
.words-05 {
    position: absolute;
    top: 10%;
    left: 20%;
    opacity: 0;
}
.card-05 {
    position: absolute;
    left: 20%;
    bottom: 200px;
}
.order-05 {
    position: absolute;
    left: 27%;
    bottom: 270px;
}
.t1f-05 {
    position: absolute;
    left: 25%;
    bottom: 700px; /*先放出屏幕去*/
    display: none; /*掉之前先隐藏，免得在第四屏看到它*/
}
.mouse {
    position: absolute;
    right: 20%;
    bottom: 200px
}
.hand {
    position: absolute;
    right: 24%;
    bottom: -375px;/*先放到下面去*/
}
.mouse-05-a {
    display: none;
}
.overFlow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 第五屏 end  */

/* 第六屏 start */
.section6 {
	background: #84d9ed url(../images/t1dvj.fn0gxxb0_fua-2500-600.png) no-repeat 25% 100%;
}
.box-06 {
    position: absolute;
    left: 123px;
    bottom: 500px;
    z-index: 50; /*掉下来时把沙发挡住*/
}
.car-06 {
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 60; /*掉下来时把盒子挡住*/
}
.cloud-06 {
    position: absolute;
    left: 50%;
    bottom: 550px;
    animation: cloud-06 30s;
}
@keyframes cloud-06 {
    100% {
        left: 10%;
    }
}
.pop-06 {
    position: absolute;
    bottom: 119px;
    right: 48%;
    display: none;
    z-index: 50;
}
.boy {
    position: absolute;
    right: 50%;
    bottom: 0px;
    height: 100px;
}
.girl {
    position: absolute;
    right: 315px;
    bottom: 116px;
    height: 123px;
    display: none;
}
.door {
    position: absolute;
    right: 285px;
    bottom: 116px;
    opacity: 0;;
}
.pop-07 {
    position: absolute;
    right: 445px;
    bottom: 400px;
    z-index: 40;
    display: none;
}
.words-06 {
    position: absolute;
    left: 10%;
    bottom: 479px;
    display: none;
}
/* 第六屏 end */

/*  第七屏 start  */
.section7 {
	background: #8ac060 url(../images/t1wf1tfctaxxa3gmkg-2000-1500.png) no-repeat 50% 100%;
}
.star {
    position: absolute;
    left: 50%;
    bottom: 439px;
    margin-left: -295px;
    width: 0;  /*让背景慢慢变宽，实现星星逐渐点亮的效果；此处应该把亮星星放在背景里，然后改变盒子宽度；而不是直接插入图片不好控制，代码会很长*/
    height: 20px;
    background: url(../images/star.png) no-repeat;
    background-size: 97px;
}
.good-07 {
    position: absolute;
	bottom: 382px;
    left: 50%;
    margin-left: -289px;
    display: none;
}
/* 第七屏 end  */

/*  第八屏 start  */
.section8 {
	background: url(../images/ksgw.png);
}
.beginShoping {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom:365px;
}
.btn-08-a {
	position: absolute;
	top: 0; 
	left: 0; /*这两个0是为了完全相对于盒子定位，正好挡住同大小图片*/
	display: none;
}
.again {
	position: absolute;
	bottom: 403px;
	left: 50%;
	margin-left: 240px;
	cursor: pointer;
}
.hand-08 {
	position: absolute;
	bottom: 0;
	left: 50%;
}
/* 第八屏 end  */


/* 动画部分 */
.updown {
  animation: 3s linear infinite fly;   /*注意顺序，名字放在后面 linear匀速 infinite不停止*/
}
.shirt-updown {
    animation: 2s linear infinite shirt01;
}
.cloud {
    animation: 60s linear infinite cloud;
}
.words-05-a {  /*添加旋转的动画效果的class*/
    animation: words-05 2s forwards; /*animation-fill-mode: forwards让动画保持最后一桢状态 不循环*/
}
@keyframes fly {  /*先声明，再用，类似于js的声明函数function*/
    0% {
        top: 10%;  /*可省略初始值*/
    }
    50% {
        top:20%;
    }
    100% {
        top: 10%;
    }
}
@keyframes shirt01{
    50% {
        bottom: 360px;
    }
    100% {
        bottom: 335px;
    }
}
@keyframes cloud {
    0% {
        left: 50%;
    }
    50% {
        left: -10%;  
    }
    100% {
        left: 50%;
    }
}
@keyframes words-05 {
    100% {
        opacity: 1;
        transform: translateZ(100px) rotateY(360deg); /*translateZ能在透视的基础上实现近大远小*/
    }
}